<footer>
    <div class="container">
        <div class="section-first">
            
        </div>
        <div class="section-center">
            <p>All Rights Reserved By SOCIO &copy;</p>
        </div>
        <div class="section-end">
            <a href="/">Home</a>
            <a href="/users/profile">Profile</a>
            <a href="/posts/view">Posts</a>
        </div>
    </div>
</footer>