<% if (locals.user) { %>
 
    <% friends.forEach(friend => { %>
        <p>
            <a href="/users/profile/<%= friend.toUser.id %> "><%= friend.toUser.name %> </a>
        </p>
        
        <% }) %>
<% } %>