<h1>  New Socio|<%= title %>  </h1>

<form action="" id="post-form" method="POST">
    <textarea name="content" id="" cols="30" rows="5" placeholder="Share Your Feelings!!"></textarea>
    <input type="submit" value="Post">
</form>
