 <link rel="stylesheet" href="css/home.css">
 <div class="home-container">
    

<section id="posts-feed">
    <% if(locals.user) {%>
        <form action="/posts/create" id="post-form" method="POST">
            <textarea name="content" id="" cols="30" rows="5" placeholder="Share Your Feelings!!"></textarea>
            <input type="submit" value="Post">
        </form>
    <% } %> 
    
    <div id="show-posts-container">
        <ul>
            <% for(post of posts){ %>
                        
                <%- include('_post') -%>
                    
                <%} %>        
            </ul>
    </div>
</section>

<section id="user-friends">
    <h4>Friends</h4>
    <% for(user of all_users) {%>
        <p>
            <a href="users/profile/<%= user.id %> "> <%= user.name %> </a>
        </p>
    <% } %>

</section>
</div>
<script src="/js/home_posts.js"></script>