<link rel="stylesheet" href="<%= assetPath("css/sign-in.css") %> ">

 <div class="signin-container">
   <div class="signin-form-container">
    <h1 class="heading">Sign In</h1>

    <form action="/users/create-session" method="POST">
        <input type="email" name="email" placeholder="Email"  required>
        <input type="password" name="password" placeholder="Password"  required>
        <input type="submit" value="Sign In">
    
    </form>
    
    <p>
        <a class="google-button" href="/users/auth/google">Google</a>
    </p>
   </div>
</div>