<link rel="stylesheet" href="<%= assetPath("css/welcome.css") %> ">
<div class="welcome-container">
  <div id="welcome-back-image">
    <div id="background-overlay">
        
    </div>
    <div class="center">
        <div class="heading">
            <p>Make Life Better......</p>
        </div>
        <div class="calltoaction">
            <a class="login" href="/users/sign-in">Login</a>
            <a class="register" href="/users/sign-up"> Register</a>
        </div>
    </div>
  </div>
 
</div>
