$linkColor : white; 
$primaryBlue:#114b5f;
$primaryBody:#1a936f;
 header{
    padding: 0;
    margin: 0;

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        background-color: $primaryBlue;
        .left {
            margin-left:10px ;
            h3{
                color: white;
            }
        }
        .right{
            display: flex;
            justify-content: center;
            li{
                padding: 10px;
                margin: 10px;
                a{
                    text-decoration: none;
                    color: $linkColor;
                    font-weight: 500;    
                    font-size: .8rem;
                    text-transform: uppercase;  
                              
                }
            }
        }
         
    }
}