@import './header.scss';
body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: $primaryBody;

    #layout{
        height: 100vh;

        .auth-container{
            display: flex;
            padding: 0;
            height: 100%;
            justify-content: center;
            align-items: center;
            h1{
                color: $primaryBlue;
            }
            .form-container{
                
                width: 50%;
                form{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content:center;
                    align-items: center;
                    input{
                        padding: 10px;
                        margin: 10px;
                        width: 75%;
                        border: none;
                        border-radius: 50px;
                     }
                    button{
                        width: 100px;
                        padding: 10px;
                        border: none;
                        background: $primaryBlue;
                        border-radius: 50px;
                        color: white;
                        cursor: pointer;
                        &:hover{
                            background-color: blue;

                        }
                    }
                }
                
            }
          
        }
    }
}