#home-container {
  display: flex;
  justify-content: space-around; }
  #home-container #feed-posts {
    max-width: 50%;
    padding: 10px; }
    #home-container #feed-posts form {
      display: flex;
      flex-direction: column; }
      #home-container #feed-posts form textarea {
        border: none;
        border: 2px solid #5fb8ee;
        font-size: 1.3rem; }
      #home-container #feed-posts form #post-submit-btn {
        border: none;
        background-color: #5fb8ee;
        padding: 10px 15px;
        cursor: pointer; }
    #home-container #feed-posts #posts-list-container #list-posts {
      display: flex;
      flex-direction: column;
      list-style: none;
      width: 100%; }
  #home-container #right {
    display: flex;
    flex-direction: column; }
    #home-container #right #user-friends {
      width: 30%;
      padding: 10px;
      border-left: 1px solid lightgrey;
      height: 100%; }
